@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, forest;
};


body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
    height: 100vh;
}