.nav-container {
display: flex;
align-items: center;
justify-content:space-between;

padding: 1rem;

}

.avatar {
    display: flex;
    align-items: center;
    gap: 5px;
}

.ul-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 100%;
    padding: 0.5rem 0;
}

.h1 {
    display: flex;
    width: 50;
    flex-direction: column;
    justify-content: center;
    height: 45%;
}

@media (max-width: 600px) {
    .nav-container {
        flex-direction: column;
        text-align: center;
        max-width: 100%;
    }
}