.nav-container {
display: flex;
align-items: center;
justify-content:space-between;
flex-wrap: wrap;
padding: 1rem;
box-shadow: 5px 5px 5px gray  !important;


}

.avatar {
    display: flex;
    align-items: center;
    gap: 5px;
}

.ul-container {
display: flex;
justify-content: flex-end;
flex-wrap: wrap;
gap: 50px;
height: 20px;
}

.h1 {
    display: flex;
    width: 50;
    flex-direction: column;
    justify-content: center;
    height: 45%;
}

